<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ static }}style.css">

</head>

<body>


    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="/prices/">Услуги</a></li>
                <li><a href="/about/">О нас</a></li>
                <li><a href="/contact/">Контакты</a></li>
                <li><a href="/category_list/">Категории услуг</a></li>
                <li><a href="/create_category/">Создать категорию</a></li>
<!--                <li><a href="/create_service/">Создать услугу</a></li>-->
            </ul>

          {% block main_block %}

          {% endblock %}

        </div>
    </div>

</body>
</html>