<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">


</head>
<body>
    

    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="/prices/">Prices</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>

        <div class="content_contact">

            <section class="contact_form">

                <div class="contact_wrapper">
                    <h1>Свяжитесь с нами</h1>
                <p>Все вопросы, которые у Вас возникли, вы можете направить
                    нам на почту
                </p>

                    <form action="/send_info/" method="post">
                        <div class="form_inputs">
                            <p>Name <span class="red">*</span><input name="name"></p>

                            <p>Email <span class="red">*</span><input type="email" name="email"></p>

                        </div>

                        <p>Your message <span class="red">*</span></p>
                        <textarea name="text"></textarea>
                        <div class="button_block">
                            <input type="submit" value="SEND">
                        </div>
                    </form>
                </div>

            </section>
        </div>



        </div>
    </div>
    
</body>
</html>