<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    

    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="/prices/">Prices</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>

        <div class="content">
            <h1>УСТРОЙ СВОЙ ПРАЗДНИК</h1>
            <p>Наше агенство предоставляет полный спектр услуг,
                по организации мероприятий под ключ
            </p>

            <div>
                <button type="button">
                    <a href="/prices/">ЗАКАЗАТЬ</a></button>
            </div>
        </div>



        </div>
    </div>
    
</body>
</html>