{% extends "base.html" %}

{% block main_block %}

        <div class="content_prices">
            <table>
                <tr>
                    <th>Вид услуги</th>
                    <th>Стоимость</th>




                <tr>
                    <th><a href="#">Standart</a></th>
                    <th>100.000</th>

                </tr>
                <tr>
                    <th><a href="#">Lux</a></th>
                    <th>200.000</th>

                </tr>
                <tr>
                    <th><a href="#">Top of the Top</a></th>
                    <th>300.000</th>

                </tr>

            </table>


        </div>


{% endblock %}