{% extends "base.html" %}

{% block main_block %}

<div class="content_prices">
    <table>
        <tr>
            <th>Категория</th>
            <th>Вид услуги</th>
            <th>Стоимость</th>


        </tr>


        {% for item in objects_list %}
        <tr>


            <th><a href="/prices/?id={{item.category.id}}">{{item.category.name}}</a>
            </th>
            <th>{{item.name}}</th>
            <th>{{item.price}}</th>


        </tr>

        {% endfor %}


    </table>
    <div class="copy">
        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/copy_service/?name={{item.name}}">скопировать</a></span>
        </li>
        {% endfor %}

        </form>
    </div>


</div>


{% endblock %}